<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <header>
        <h1>APP NAME</h1>

        <nav class="login-navbar">

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Log Out</a>
                </li>
                <!-- <li class="nav-item"></li> -->
            </ul>

            <!-- FINISH THIS LATER ONCE WE TALK ABOUT NAV -->
            <div class="login-hamburger">
                <span class="login-hamburger__bar"></span>
                <span class="login-hamburger__bar"></span>
                <span class="login-hamburger__bar"></span>
            </div>
        </nav>
    </header>
    
    <!-- MAIN BODY SECTION, DYNAMICALLY UPDATE TEXT IF USER IS LOGGED IN/SIGNED UP -->
    {{{ body }}}
    
    <script src="../js/scripts.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/logout.js"></script>
</body>
</html>