<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudsource</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/build.css" />



    <link
      <!-- rel="stylesheet" -->
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <!-- navbar sections starts  -->
    <header class="header">
      <div class="logo">
        <a href="/"><img src="../images/CloudSource.png" alt="cloudsource logo" /></a>
      </div>

      <nav class="navbar">
        {{#if logged_in}}
        <a href="/build">Hire Talent</a>
        {{else}}
        <a href="/login">Hire Talent</a>
        {{/if}}
        <a href="#whyus">Why Us</a>
        <a href="#footer">Contact</a>
        <a href="/profile">Profile</a>
        {{#if logged_in}}
        <a class="btn" id="sign-out-button">Sign Out</a>
        {{else}}
        <a href="/login" class="btn">Log In</a>
        {{/if}}
      </nav>

      <div class="fas fa-bars nav-menu hamburger" id="menu-btn">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
      </div>
    </header>

    <!--RENDER BODY W/ HANDLEBARS -->
    {{{body}}}

    <!-- footer section starts  -->
    <section class="footer" id="footer">
      <div class="box-container">
        <div class="box">
          <h3>Quick Links</h3>
          <a href="/"><i class="fas fa-chevron-right"></i>Home</a>
        </div>

        <div class="box">
          <h3>Follow us</h3>
          <a target="_blank" href="https://www.linkedin.com/in/nick-laramee-90386520b/"><i class="fab fa-linkedin"></i>Nick's LinkedIn</a>
          <a target="_blank" href="https://www.linkedin.com/in/elliott-dombrowski-8b2ba8211/"><i class="fab fa-linkedin"></i>Elliott's LinkedIn</a>
          <a target="_blank" href="https://www.linkedin.com/in/eduardvoicu/"><i class="fab fa-linkedin"></i>Eduard's LinkedIn</a>
          <a target="_blank" href="https://github.com/nlaramee120"><i class="fab fa-github"></i>Nick's GitHub</a>
          <a target="_blank" href="https://github.com/elliottdombrowski"><i class="fab fa-github"></i>Elliott's GitHub</a>
          <a target="_blank" href="https://github.com/eduardvoicu"><i class="fab fa-github"></i>Eduard's GitHub</a>
        </div>
      </div>
    </section>

    <!-- footer section -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/dashboard.js"></script>
    <script src="../js/buildreq.js"></script>
    {{#if logged_in}}
    <script src="../js/logout.js"></script>
    {{/if}}
  </body>
</html>
