    <!-- home section stars  -->

    <section class="home" id="home">
      <div class="content">
        <h1>Cloudsource</h1>
        <p>
          Cloudsource is talent aquisition platform that connects you (the
          business owner or Chief Technology Officer) to up and coming talented
          software engineers, cloud architects, data engineers and more.
        </p>

        {{#if logged_in}}
        <a href="/build" class="home-btn">Let's Scale Your Tech</a>
        {{else}}
        <a href="/login" class="home-btn">Let's Scale Your Tech</a>
        {{/if}}
      </div>

      <div class="image">
        <img src="../images/illustration-hero.svg" alt="illustration-hero" />
      </div>
    </section>

    <!-- Home Section Ends -->

    <!-- Feature Section Starts Here  -->

    <section class="features" id="features">
      <div class="heading">
        <h1>Why Us</h1>
        <p>
          Our aim is to make it quick and easy for you to access reliable,
          talented freelance engineers at your fingertips that work well with
          your team.
        </p>
      </div>

      <div class="row">
        <!-- Feature 1  -->
        <div class="image">
          <img
            src="../images/illustration-features-tab-1.svg"
            alt="illustration-features-tab-1"
          />
        </div>

        <div class="content">
          <h1>Trust and Transparancy</h1>
          <p>
            We believe in having trust and transparancy. It's why we interview
            and qualify all freelance engineers for quality and proven track
            record.
          </p>
          <a href="#" class="all-btn">T & T</a>
        </div>

        <!-- Feature 2  -->
        <div class="content">
          <h1>Intelligent Network</h1>
          <p>
            The Clourdsource network is wide and vast across multiple countries
            and timezones. What that means for you is that you have access to
            engineers that can work with you at any time 24/7/365.
          </p>
          <a href="#" class="all-btn">The Network</a>
        </div>

        <div class="image">
          <img
            src="../images/illustration-features-tab-2.svg"
            alt="illustration-features-tab-2"
          />
        </div>

        <!-- Feature 3  -->
        <div class="content">
          <h1>VIP 24/7 Support</h1>
          <p>
            On top of having access to great engineers, when you work with
            Cloudsource, you have access to 24/7 support from our concierge team
            to help with any issues that may come along the way.
          </p>
          <a href="#" class="all-btn">VIP Support</a>
        </div>
        <div class="image">
          <img
            src="../images/illustration-features-tab-3.svg"
            alt="illustration-features-tab-3"
          />
        </div>
      </div>
    </section> 