<form class="log-in-hero" id="login-form">
    <label for="log-in-email">LOG IN</label>
    <input type="text" class="log-in__email" id="log-in-email" placeholder="Email">
    <input type="text" class="log-in__password" id="log-in-password" placeholder="Password">

    <div class="button-pos">
        <button class="log-in__submit" id="log-in-submit">Log In!</button>
    </div>
</form>

<script src="../public/js/login.js"></script>