{{!-- <form class="log-in-hero" id="login-form">
    <label for="log-in-email">LOG IN</label>
    <input type="text" class="log-in__email" id="log-in-email" placeholder="Email">
    <input type="text" class="log-in__password" id="log-in-password" placeholder="Password">

    <div class="button-pos">
        <button class="log-in__submit" id="log-in-submit">Log In!</button>
    </div>
</form>

<script src="../public/js/login.js"></script> --}}

    <!-- MAIN BODY SECTION, DYNAMICALLY UPDATE TEXT IF USER IS LOGGED IN/SIGNED UP -->
    <!-- TODO- REFACTOR TO UPDATE W/ HANDLEBARS?? -->
    <section class="login-body">
        <section class="sign-up-hero">
        <form id="signup-form">
            <label for="sign-up-fname">SIGN UP</label>
            <input type="text" class="sign-up__fname" id="sign-up-fname" placeholder="First Name">
            <input type="text" class="sign-up__lname" id="sign-up-lname" placeholder="Last Name">
            <input type="text" name="company" class="sign-up__company" id="sign-up-company" placeholder="Company Name">

            <div class="sign-up__auth">
                <input type="text" class="sign-up__email" id="sign-up-email" placeholder="Email">
                <input type="text" class="sign-up__password" id="sign-up-password" placeholder="Password">
                <!-- <input type="text" class="sign-up__fname" id="sign-up-form" placeholder="Confirm Password"> -->
            </div>

            <div class="button-pos">
                <button class="sign-up__submit" id="sign-up-submit">Create an Account!</button>
            </div>
        </form>
        </section>

        <section class="log-in-hero">
        <form id="login-form">
            <label for="log-in-email">LOG IN</label>
            <input type="text" class="log-in__email" id="log-in-email" placeholder="Email">
            <input type="text" class="log-in__password" id="log-in-password" placeholder="Password">

            <div class="button-pos">
                <button class="log-in__submit" id="log-in-submit">Log In!</button>
            </div>
        </form>
        </section>
    </section>
    <script src="/js/login.js">